In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# !mkdir "/content/drive/MyDrive/Data analysis/class-20/data"

In [ ]:
# import zipfile
# with zipfile.ZipFile("/content/drive/MyDrive/Data analysis/class-20/class-20-covid.zip","r") as zip_ref:
#     zip_ref.extractall("/content/drive/MyDrive/Data analysis/class-20/data")

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Data analysis/class-20/data/class-20-covid/transformed_data.csv")

In [ ]:
data2 = pd.read_csv("/content/drive/MyDrive/Data analysis/class-20/data/class-20-covid/raw_data.csv")

In [ ]:
data

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP
0,AFG,Afghanistan,12/31/2019,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
1,AFG,Afghanistan,1/1/2020,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
2,AFG,Afghanistan,1/2/2020,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
3,AFG,Afghanistan,1/3/2020,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
4,AFG,Afghanistan,1/4/2020,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,10/15/2020,0.535,8.994048,5.442418,4.341855,16.514381,7.549491
50414,ZWE,Zimbabwe,10/16/2020,0.535,8.996528,5.442418,4.341855,16.514381,7.549491
50415,ZWE,Zimbabwe,10/17/2020,0.535,8.999496,5.442418,4.341855,16.514381,7.549491
50416,ZWE,Zimbabwe,10/18/2020,0.535,9.000853,5.442418,4.341855,16.514381,7.549491
50417,ZWE,Zimbabwe,10/19/2020,0.535,9.005405,5.442418,4.341855,16.514381,7.549491

In [ ]:
#data.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'],axis=1,inplace=True)

In [ ]:
data2

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,12/31/2019,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,1/1/2020,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,1/2/2020,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,1/3/2020,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,1/4/2020,0.0,0.0,0.00,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,10/15/2020,8055.0,231.0,76.85,14862927,1899.775,0.535,8.994048296,5.442417711,4.34185547,16.514381,7.549490737
50414,ZWE,Zimbabwe,10/16/2020,8075.0,231.0,76.85,14862927,1899.775,0.535,8.996528148,5.442417711,4.34185547,16.514381,7.549490737
50415,ZWE,Zimbabwe,10/17/2020,8099.0,231.0,76.85,14862927,1899.775,0.535,8.999495876,5.442417711,4.34185547,16.514381,7.549490737
50416,ZWE,Zimbabwe,10/18/2020,8110.0,231.0,76.85,14862927,1899.775,0.535,9.000853147,5.442417711,4.34185547,16.514381,7.549490737
50417,ZWE,Zimbabwe,10/19/2020,8147.0,231.0,76.85,14862927,1899.775,0.535,9.00540504,5.442417711,4.34185547,16.514381,7.549490737

In [ ]:
#top rows 
data.head()

  CODE      COUNTRY        DATE    HDI   TC   TD  STI        POP    GDPCAP
0  AFG  Afghanistan  12/31/2019  0.498  0.0  0.0  0.0  17.477233  7.497754
1  AFG  Afghanistan    1/1/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
2  AFG  Afghanistan    1/2/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
3  AFG  Afghanistan    1/3/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
4  AFG  Afghanistan    1/4/2020  0.498  0.0  0.0  0.0  17.477233  7.497754

In [ ]:
#last rows
data.tail()

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP
50413,ZWE,Zimbabwe,10/15/2020,0.535,8.994048,5.442418,4.341855,16.514381,7.549491
50414,ZWE,Zimbabwe,10/16/2020,0.535,8.996528,5.442418,4.341855,16.514381,7.549491
50415,ZWE,Zimbabwe,10/17/2020,0.535,8.999496,5.442418,4.341855,16.514381,7.549491
50416,ZWE,Zimbabwe,10/18/2020,0.535,9.000853,5.442418,4.341855,16.514381,7.549491
50417,ZWE,Zimbabwe,10/19/2020,0.535,9.005405,5.442418,4.341855,16.514381,7.549491

In [ ]:
data.shape

(50418, 9)

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
#columnwise
data[['COUNTRY','HDI','TC']]

           COUNTRY    HDI        TC
0      Afghanistan  0.498  0.000000
1      Afghanistan  0.498  0.000000
2      Afghanistan  0.498  0.000000
3      Afghanistan  0.498  0.000000
4      Afghanistan  0.498  0.000000
...            ...    ...       ...
50413     Zimbabwe  0.535  8.994048
50414     Zimbabwe  0.535  8.996528
50415     Zimbabwe  0.535  8.999496
50416     Zimbabwe  0.535  9.000853
50417     Zimbabwe  0.535  9.005405

[50418 rows x 3 columns]

In [ ]:
#row wise
data.loc[0:6]

  CODE      COUNTRY        DATE    HDI   TC   TD  STI        POP    GDPCAP
0  AFG  Afghanistan  12/31/2019  0.498  0.0  0.0  0.0  17.477233  7.497754
1  AFG  Afghanistan    1/1/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
2  AFG  Afghanistan    1/2/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
3  AFG  Afghanistan    1/3/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
4  AFG  Afghanistan    1/4/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
5  AFG  Afghanistan    1/5/2020  0.498  0.0  0.0  0.0  17.477233  7.497754
6  AFG  Afghanistan    1/6/2020  0.498  0.0  0.0  0.0  17.477233  7.497754

In [ ]:
#row & column wise
data.iloc[0:6,0:6]

  CODE      COUNTRY        DATE    HDI   TC   TD
0  AFG  Afghanistan  12/31/2019  0.498  0.0  0.0
1  AFG  Afghanistan    1/1/2020  0.498  0.0  0.0
2  AFG  Afghanistan    1/2/2020  0.498  0.0  0.0
3  AFG  Afghanistan    1/3/2020  0.498  0.0  0.0
4  AFG  Afghanistan    1/4/2020  0.498  0.0  0.0
5  AFG  Afghanistan    1/5/2020  0.498  0.0  0.0

In [ ]:
data['COUNTRY'].value_counts()

Afghanistan        294
Indonesia          294
Macedonia          294
Luxembourg         294
Lithuania          294
                  ...
Tajikistan         172
Comoros            171
Lesotho            158
Hong Kong           51
Solomon Islands      4
Name: COUNTRY, Length: 210, dtype: int64

In [ ]:
data['COUNTRY'].value_counts().mode()

0    294
dtype: int64

In [ ]:
#aggregating
#tolist-convert array to list
#unique-select unique value
code=data['CODE'].unique().tolist()
country=data['COUNTRY'].unique().tolist()
hdi=[]
tc=[]
td=[]
sti=[]
population=[]
gdp=[]

for x in country:
  hdi.append(data.loc[data['COUNTRY'] == x,'HDI'].sum()/294)
  tc.append(data.loc[data['COUNTRY'] == x,'TC'].sum())
  td.append(data.loc[data['COUNTRY'] == x,'TD'].sum())
  sti.append(data.loc[data['COUNTRY'] == x,'STI'].sum()/294)
  population.append(data.loc[data['COUNTRY'] == x,'POP'].sum())
  gdp.append(data.loc[data['COUNTRY'] == x,'GDPCAP'].sum())



aggregated_data = pd.DataFrame(list(zip(code, country,hdi,tc,td,sti,population,gdp))
                ,columns =['Country code', 'Country','HDI','Total Cases', 'Total Deaths', 'STI', 'Population','GDP'])

In [ ]:
aggregated_data

,Country code,Country,HDI,Total Cases,Total Deaths,STI,Population,GDP
0,AFG,Afghanistan,0.498000,2000.646094,1226.948181,3.049673,5138.306531,2204.339821
1,ALB,Albania,0.600765,1702.240756,929.368800,3.005624,3346.320751,2109.632744
2,DZA,Algeria,0.754000,2052.510847,1406.216387,3.195168,5173.314864,2804.947935
3,AND,Andorra,0.659551,1465.828250,786.655112,2.677654,2543.629175,0.000000
4,AGO,Angola,0.418952,1203.978763,590.138675,2.965560,3669.286969,1837.821379
...,...,...,...,...,...,...,...,...
205,VEN,Venezuela,0.566867,1810.819461,853.054819,3.235752,3758.733025,2129.962529
206,VNM,Vietnam,0.694000,1450.458104,261.537218,3.710868,5407.749567,2565.961269
207,YEM,Yemen,0.296721,1163.307314,928.044676,2.369568,3321.701766,1408.749624
208,ZMB,Zambia,0.430000,1540.609667,727.554759,2.645104,3596.302611,1765.833428
209,ZWE,Zimbabwe,0.387602,1319.761376,618.176981,3.161132,3517.563057,1608.041527

In [ ]:
# Sorting by column "x" -df.sort_values(by=['x'], ascending=False)
#df = aggregated_data

aggregated_data = aggregated_data.sort_values(by = ['Total Cases'],ascending = False)

In [ ]:
aggregated_data

,Country code,Country,HDI,Total Cases,Total Deaths,STI,Population,GDP
200,USA,United States,0.924000,3343.050755,2480.576064,3.350949,5767.585257,3204.866235
41,CHN,China,0.752000,3128.587021,2205.740166,3.892554,6199.707137,2833.036143
27,BRA,Brazil,0.759000,2913.256895,2166.965888,3.136028,5637.371232,2808.927411
97,ITA,Italy,0.880000,2873.314489,2327.710204,3.629838,5267.751697,3077.995300
178,ESP,Spain,0.887969,2843.820343,2197.919025,3.393922,5174.505146,3059.533683
...,...,...,...,...,...,...,...,...
24,BES,Bonaire Sint Eustatius and Saba,0.000000,497.356421,9.010913,0.000000,2045.037496,0.000000
65,FLK,Falkland Islands,0.000000,493.373289,0.000000,2.122958,1622.974205,0.000000
5,AIA,Anguilla,0.000000,224.574488,0.000000,2.326181,1990.499333,0.000000
173,SLB,Solomon Islands,0.007429,3.988984,0.000000,0.000000,53.759648,30.795605
87,HKG,Hong Kong,0.161847,0.000000,0.000000,0.643980,807.330607,557.638447

In [ ]:
top_10_cases = aggregated_data.head(10)

In [ ]:
top_10_cases

,Country code,Country,HDI,Total Cases,Total Deaths,STI,Population,GDP
200,USA,United States,0.924000,3343.050755,2480.576064,3.350949,5767.585257,3204.866235
41,CHN,China,0.752000,3128.587021,2205.740166,3.892554,6199.707137,2833.036143
27,BRA,Brazil,0.759000,2913.256895,2166.965888,3.136028,5637.371232,2808.927411
97,ITA,Italy,0.880000,2873.314489,2327.710204,3.629838,5267.751697,3077.995300
178,ESP,Spain,0.887969,2843.820343,2197.919025,3.393922,5174.505146,3059.533683
90,IND,India,0.640000,2825.623737,1933.999000,3.610552,6187.333638,2577.854452
199,GBR,United Kingdom,0.922000,2809.857646,2209.519314,3.353883,5301.802089,3113.591339
73,DEU,Germany,0.936000,2804.510066,1882.624124,3.284516,5363.663076,3151.532756
92,IRN,Iran,0.798000,2803.718251,2112.453855,3.207064,5364.395577,2897.820776
68,FRA,France,0.901000,2801.434702,2203.766710,3.385794,5290.264483,3104.979411

In [ ]:
import plotly.express as px
fig = px.bar(top_10_cases, x='Country code', y='Total Cases',color='Country code', text_auto=True,
             title='Countries with highest covid cases')
fig.show()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Bar(
    x=top_10_cases['Country'],
    y=top_10_cases['Total Cases'],
    name='Total Cases',
    marker_color='indianred'
))
fig.add_trace(go.Bar(
    x=top_10_cases['Country'],
    y=top_10_cases['Total Deaths'],
    name='Total Deaths',
    marker_color='lightsalmon'
))

fig.add_trace(go.Bar(
    x=top_10_cases['Country'],
    y=top_10_cases['Population'],
    name='Population',
    marker_color='black'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45, title = 'Total Cases vs Total Deaths')
fig.show()

In [ ]:
data

,CODE,COUNTRY,DATE,HDI,TC,TD,STI,POP,GDPCAP
0,AFG,Afghanistan,12/31/2019,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
1,AFG,Afghanistan,1/1/2020,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
2,AFG,Afghanistan,1/2/2020,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
3,AFG,Afghanistan,1/3/2020,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
4,AFG,Afghanistan,1/4/2020,0.498,0.000000,0.000000,0.000000,17.477233,7.497754
...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,10/15/2020,0.535,8.994048,5.442418,4.341855,16.514381,7.549491
50414,ZWE,Zimbabwe,10/16/2020,0.535,8.996528,5.442418,4.341855,16.514381,7.549491
50415,ZWE,Zimbabwe,10/17/2020,0.535,8.999496,5.442418,4.341855,16.514381,7.549491
50416,ZWE,Zimbabwe,10/18/2020,0.535,9.000853,5.442418,4.341855,16.514381,7.549491
50417,ZWE,Zimbabwe,10/19/2020,0.535,9.005405,5.442418,4.341855,16.514381,7.549491

In [ ]:
total_classes = data['TC'].sum()

In [ ]:
total_classes

340932.80821109196

In [ ]:
total_deaths = data['TD'].sum()

In [ ]:
total_deaths

172110.94653705598

In [ ]:
import plotly.express as px
fig = px.pie(data, values=[total_classes,total_deaths], names=['Total classes','Total deaths'],
      title='Total Cases vs Total Deaths')
fig.show()

In [ ]:
import plotly.express as px
fig = px.pie(data, values=[total_classes,total_deaths], names=['Total classes','Total deaths'],
      title='Total Cases vs Total Deaths',hole = 0.5)
fig.show()